<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>恶意IOC后台管理系统</title>
<meta name="description"
	content="particles.js is a lightweight JavaScript library for creating particles.">
<meta name="author" content="Vincent Garreau" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" media="screen" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/reset.css" />
<link rel="icon" href="/css/favicon.ico">
</head>
<body>
	<form method="post" id="loginForm">
		<div id="particles-js">
			<div class="login">
				<div class="login-top">登录</div>
				<div class="login-center clearfix">
					<div class="login-center-img">
						<img src="img/name.png" />
					</div>
					<div class="login-center-input">
						<input type="text" id="usernameId" name="username"
							placeholder="请输入您的用户名" onfocus="this.placeholder=''"
							onblur="this.placeholder='请输入您的用户名'" />
						<div class="login-center-input-text">用户名</div>
					</div>
				</div>
				<div class="login-center clearfix">
					<div class="login-center-img">
						<img src="img/password.png" />
					</div>
					<div class="login-center-input">
						<input type="password" id="passwordId" name="password"
							placeholder="请输入您的密码" onfocus="this.placeholder=''"
							onblur="this.placeholder='请输入您的密码'" />
						<div class="login-center-input-text">密码</div>
					</div>
				</div>
				<div class="login-button" onclick="doLogin()">登录</div>
			</div>
		</div>
	</form>
	<!-- scripts -->
	<script src="js/particles.min.js"></script>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/app.js"></script>
	<script type="text/javascript">
		function doLogin() {
			var params = {
				username : $("#usernameId").val(),
				password : $("#passwordId").val()
			}
			console.log(params);
			var url = "doLogin";
			$.post(url, params, function(result) {
				if (result.state == 1) {
					//跳转到indexUI对应的页面
					location.href = "index?t=" + Math.random();
				} else {
					alert("密码或者用户名错误,请重新登录");
				}
				return false;
			});
		}
	</script>
</body>
</html>